* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: "Poppins";
}

main {
    padding-top: 70px;
}

.v-middle {
    vertical-align: middle;
}

/* TXT */

.txt-white {
    color: white;
}

.txt-red {
    color: red;
}

.txt-right {
    text-align: right;
}

.txt-deco-line-through {
    text-decoration: line-through;
}

.txt-bold {
    font-weight: bold;
}

/* GENERIC FLEX */

.d-flex  {
    display: flex;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.row-gap {
    row-gap: 50px;
}

/* gap */

.gap-10 {
    gap: 10px;
}

/* POSITION */

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute
}

.z-index-1 {
    z-index: 1;
}

/* MARGIN */    

.mx-auto {
    margin: 0 auto;
}

/* PADDING */

.p-top {
    padding-top: 20px;
}

.py-10 {
    padding: 10px 0;
}

.ptop-70 {
    padding-top: 70px;
}

/*  CONTAINERS */

.container {
    max-width: 1400px;
}

.l-col, .c-col, .r-col {
    width: 33%;
}

/* HEADER */

header {
    background-color: #FF6900;
    left: 0;
    right: 0;
}

.l-col a, .r-col a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.logo {
    width: 50%;
}

header a:hover {
    color: black;
}

/* MAIN CONTENT */

/* CARD */

.card {
    width: 30%;
}

/* CARD IMAGE */

.card-image>img {
    width: 100%;
}

button {
    padding: 15px;
    border: none;
    background-color: white;
    font-size: 26px;
    transition: 0.3s;
}

button:hover {
    color: red;
}

.btn-heart {
    right: 0;
    top: 20px;
}

.label {
    bottom: 40px;
    left: 5px;
    font-size: 14px;
    color: white;
}

.discount {
    background-color: red;
    padding: 5px 10px;
    margin-right: 5px;
}

.eco {
    background-color: green;
    padding: 5px 10px;
}

/* CARD CONTENT */

.brand {
    font-size: 12px;
}

.name-article {
    text-transform: uppercase;
}

.price {
    font-size: 14px;
}

.label, 
.card-content:not(:first-child) {
    font-weight: bold;
}