* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: "Poppins";
}

.txt-white {
    color: white;
}

.txt-right {
    text-align: right;
}

.v-middle {
    vertical-align: middle;
}

/* GENERIC FLEX */

.d-flex  {
    display: flex;
}

.no-wrap {
    flex-wrap: nowrap;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

/* gap */

.gap-10 {
    gap: 10px;
}

/* POSITION */

.p-fixed {
    position: fixed;
}


/* MARGIN */    

.mx-auto {
    margin: 0 auto;
}

/* PADDING */

.p-top {
    padding-top: 20px;
}

.py-10 {
    padding: 10px 0;
}

/*  CONTAINERS */

.container {
    max-width: 1400px;
}

.l-col, .c-col, .r-col {
    width: 33%;
}

/* HEADER */

header {
    background-color: #FF6900;
    left: 0;
    right: 0;
}

.l-col a, .r-col a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.logo {
    width: 50%;
}

header a:hover {
    color: black;
}